:root {
  --primary-color: #007BFF;
  --secondary-color: #FF6F00;
  --white: #FFFFFF;
  --primary-text: #212529;
  --complementary-color: #28A745;
  --background: #F8F9FA;
  --hover-color: #CCE5FF;
  --separation: #e0e0e0;
  --price-text: #28A745;
  --rating-color: #FFC107;
  --cart-border: #D65F00;
  --card-hover-color: #C2C2C2;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
}